/* Centra el contenido de elementos como cards  */


.centcont{
    margin: 0 auto;
  }

/* Imagenes centradas en carousel, aplicar estilo directamente al tag imagen */
.carcentrado {
    max-width: 50%; 
    margin: 0 auto;
  }

.mcentrado80 {
  max-width: 50%; 
  margin: 0 auto;
}

/* Crea un tamaño de 18rem en los card de los productos  */
.carsiz18 {
    width: 18rem;
  }


  /* pone opacidad a los backgrouds de los divs que contienen la imagen del slider */
.opac20{
    background: rgba(255, 255, 255, 0.2)
  }

.stanavbar
{
  top: 0;
  width: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  position: relative;
  padding-bottom: 250px; /* height of the footer */
  box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  height:236px;
}